.Panel {
  position        : relative;
  background-color: var(--background_secondary);
  height          : 100%;
  overflow        : hidden;

  box-sizing: border-box;

  display       : flex;
  flex-direction: column;
  align-items   : center;
}

/* background color */
.Panel__backgroundColor--background_secondary {
  background-color: var(--background_secondary);
}

.Panel__backgroundColor--background_primary {
  background-color: var(--background_primary);
}

/* safe */
.Panel__safe--top ._panel_container {
  padding-top: calc(var(--safe-area-inset-top) + var(--content-safe-area-inset-top));
}

.Panel__safe--left ._panel_container {
  padding-left: var(--safe-area-inset-left);
}

.Panel__safe--left ._panel_container {
  padding-left: var(--safe-area-inset-right);
}

.Panel__safe--bottom ._panel_container {
  padding-bottom: var(--safe-area-inset-bottom);
}

.Panel--header {
  padding-top     : 0px;
  background-color: var(--background_primary);
}