.Input {
  position: relative;
  width   : 100%;
  height  : 100%;

  display        : flex;
  justify-content: center;
  align-items    : center;
  gap            : 2px;

  padding: 12px 12px;

  box-sizing: border-box;
}

.Input__separator {
  display         : block;
  width           : 100%;
  height          : 2px;
  background-color: var(--separator_primary);

  border-radius: 3px;
}

.Input__separator--circle {
  width     : 6px;
  min-width : 6px;
  height    : 6px;
  min-height: 6px;

  border-radius   : 6px;
  display         : block;
  background-color: var(--separator_primary);
}

.Input__separator--selected {
  background-color: var(--color_accent);
}

.Input__circle {
  width     : auto;
  position  : absolute;
  left      : 14px;
  right     : 14px;
  top       : 0;
  bottom    : 0;
  box-sizing: border-box;
}

.Input__element {
  -webkit-appearance         : none;
  -moz-appearance            : none;
  appearance                 : none;
  -webkit-tap-highlight-color: transparent;

  z-index : 1;
  position: absolute;
  left    : 0px;
  right   : 0px;
  top     : 0;
  bottom  : 0;
  height  : 100%;
  width   : auto;

  background: transparent;

  -user-select       : none;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;

  border : none;
  padding: 0px;
  margin : 0px;
}

.Input__element::-webkit-slider-thumb {
  appearance        : none;
  -webkit-appearance: none;
  cursor            : pointer;

  background-color: white;
  border          : 2px solid var(--color_accent);

  height       : 28px;
  width        : 28px;
  border-radius: 28px;
  margin-top   : 0;
  box-shadow   : none;
}

.Input__element::-moz-range-thumb {
  appearance        : none;
  -webkit-appearance: none;
  cursor            : pointer;

  background-color: white;
  border          : 2px solid var(--color_accent);

  height       : 28px;
  width        : 28px;
  border-radius: 28px;
  margin-top   : 0;
  box-shadow   : none;
}

.Input__element::-ms-thumb {
  appearance        : none;
  -webkit-appearance: none;
  cursor            : pointer;

  background-color: white;
  border          : 2px solid var(--color_accent);

  height       : 28px;
  width        : 28px;
  border-radius: 28px;
  margin-top   : 0;
  box-shadow   : none;
}