.Content {
  position  : relative;
  width     : 100%;
  overflow  : hidden;
  height    : auto;
  min-height: 44px;

  max-width: 100%;

  gap       : 10px;
  box-sizing: border-box;

}

.Content__type--before {
  min-width: min-content;
  max-width: fit-content;

  overflow: visible;
}

.Content__type--after {
  min-width: min-content;
  overflow : visible;
}