.Action {
  position      : relative;
  width         : 100%;
  height        : 100%;
  overflow      : hidden;
  display       : flex;
  flex-direction: column;
}

.Action__in {
  position: relative;
  height  : 100%;
  overflow: hidden;
}

.Action__bar {
  position: relative;
  width   : 100%;
  height  : auto;
}