.Content {
  display        : flex;
  align-items    : center;
  justify-content: center;
  flex-direction : column;

  position : relative;
  height   : 100%;
  max-width: 100%;
}

.Content--stretched {
  width: 100%;
}