.Content {
  position    : relative;
  width       : 100%;
  height      : 100%;
  /* animation: _SwipeContentAfter 0.3s ease-out; */
}

@keyframes _SwipeContentAfter {
  0% {
    transform: translateX(35%) scale(0.7);
  }

  100% {
    transform: translateX(0%) scale(1);
  }
}